<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!--css-->
        <link rel="stylesheet" href="css/main.css">
        <!--script-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> --}}
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="./js/jquery.min.js"></script> 
        <script src="js/script_main.js"></script>
    </head>
    <script type="text/javascript">
    </script>
<html>
    <body>
        <h1>hello</h1>
        <button type="'button" onclick="send()">click</button>
    </body>
</html>
